<nav
  class="absolute flex w-full justify-between px-8 py-4 items-center z-[100] md:px-16"
>
  <a href="https://imogg.github.io/sc/" class="text-[#fff] text-4xl font-bold flex items-center">
    星盛
  </a>
  <div id="menuIcon" class="pointer cursor-pointer">
    <img src="icon/menu.svg" alt="menu of SVG" />
  </div>
</nav>

<div
  id="fullscreenMenu"
  class="fixed inset-0 bg-black bg-opacity-90 text-white flex justify-center items-center z-[200] hidden"
>
  <div class="absolute top-8 right-8 text-4xl cursor-pointer" id="closeButton">
    &times;
  </div>
  <ul class="text-center space-y-8 text-3xl">
    <li><a href="https://imogg.github.io/sc/">首頁</a></li>
    <li><a href="https://imogg.github.io/sc/about.html">關於我們</a></li>
    <li><a href="https://imogg.github.io/sc/service.html">服務項目</a></li>
  </ul>
</div>

<script>
  const menuIcon = document.getElementById("menuIcon");
  const fullscreenMenu = document.getElementById("fullscreenMenu");
  const closeButton = document.getElementById("closeButton");
  menuIcon.addEventListener("click", () => {
    fullscreenMenu.classList.toggle("hidden");

    // 在顯示選單後，再綁定關閉按鈕的點擊事件
    if (!fullscreenMenu.classList.contains("hidden")) {
      const closeButton = document.getElementById("closeButton");
      closeButton.addEventListener("click", () => {
        fullscreenMenu.classList.add("hidden");
        // console.log("123");
      });
    }
  });
  closeButton.addEventListener("click", () => {
    fullscreenMenu.classList.add("hidden");
    // console.log("123");
  });
</script>
